@charset "utf-8";
@import url("phone.css") screen and (max-width:767px);
/* CSS Document */
/*css reset to make things look the same across all browsers*/
* {
	margin:0;
	padding:0;
}

body {
	/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#ffffff+51,7db9e8+89,7db9e8+98,7db9e8+98,7db9e8+100,9fc8f9+100,7db9e8+100&0+0,0.75+52,0.6+74,0.5+99 */
background: -moz-radial-gradient(center, ellipse cover, rgba(255,255,255,0) 0%, rgba(255,255,255,0.74) 51%, rgba(252,253,254,0.75) 52%, rgba(176,213,241,0.6) 74%, rgba(125,185,232,0.54) 89%, rgba(125,185,232,0.5) 98%, rgba(142,193,241,0.5) 99%, rgba(159,200,249,0.5) 100%); /* FF3.6-15 */
background: -webkit-radial-gradient(center, ellipse cover, rgba(255,255,255,0) 0%,rgba(255,255,255,0.74) 51%,rgba(252,253,254,0.75) 52%,rgba(176,213,241,0.6) 74%,rgba(125,185,232,0.54) 89%,rgba(125,185,232,0.5) 98%,rgba(142,193,241,0.5) 99%,rgba(159,200,249,0.5) 100%); /* Chrome10-25,Safari5.1-6 */
background: radial-gradient(ellipse at center, rgba(255,255,255,0) 0%,rgba(255,255,255,0.74) 51%,rgba(252,253,254,0.75) 52%,rgba(176,213,241,0.6) 74%,rgba(125,185,232,0.54) 89%,rgba(125,185,232,0.5) 98%,rgba(142,193,241,0.5) 99%,rgba(159,200,249,0.5) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00ffffff', endColorstr='#809fc8f9',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
	background-size:cover;
	width:100%;
	height:auto;
}

main {
	width:768px;
	margin:auto;
	background-color:white;
}

header {
	width:100%;
	height:70px;
	background-color:white;
	margin:auto;
}

nav {
	width:768px;
	height:auto;
	padding: 25px 0px 0px 25px;
	margin:auto;
	background-color:white;
	position:relative;
}

.logo {
	position:absolute;
	margin:5px;
	margin-left:30px;
	box-sizing: border-box;
	/*background-color:orange;*/
	z-index:1;
}

img {
	object-fit: contain;
	vertical-align: middle;
}

img.sewing, .girlschool {
	width:100%;
	height:auto;
	object-fit: cover;
	object-position: top;
	margin:auto;
	top:0;
	left:0;
}
/*menu with dropdowns starts here*/
nav ul {
	list-style: none;
	font-family:brandon-grotesque, sans-serif; 
	font-size:1em;
	text-transform: uppercase;
    margin: 0;
    padding: 0;
    overflow: hidden;
	z-index: 1;
	top:70px;
}

nav ul::after {
	content:'';
	display:block;
	clear:both;
}

nav ul li:hover > ul {
	display:block;
}

nav ul li a {
	display:inline-block;
	color: rgba(105,105,105);
	padding:10px 20px;
	width:125px;
}
nav ul li a:hover {
	text-decoration: none;
	color:rgba(209,97,38,1.00);
	/*background-color:rgba(48,160,204,1.00);*/
}
nav ul ul {
	display:none;
	position:absolute;
	background-color:white;
	 
	/*background-color:rgba(13,114,183,1.00);*/
}

nav ul ul li:hover {
	background-color:rgba(48,160,204,1.00);
	
}

nav ul ul li a {
	color:rgba(105,105,105);
	padding:10px;
	margin:10px 20px;
	box-sizing: border-box;
	width:auto;
}

nav ul ul li a:hover {
	color:white;
	background-color:rgba(48,160,204,1.00);
	text-decoration: none;
	width:auto;
}
/*top level menu*/

nav > ul {
	padding-left:75px;
	box-sizing: border-box;
	float:right;
}

nav > ul > li {
    float: left;
}

nav > ul > li > a {
	padding:10px 30px 15px 30px;
	width:auto;
}

/*hero image, text and buttons*/
.hero {
	background-image:url("half-the-sky-image.jpg");
    height: 650px;
    background-position: top;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
	margin:auto;
	margin-bottom: 40px;
	overlay:hidden;
}

.herotext {
	width:43%;
  position: absolute;
  top: 35%;
  left:25%;
 transform: translate(-50%, -50%);
	text-align:center;
}

#tagline {
	font-family:brandon-grotesque, "sans-serif";
	font-weight:100;
	font-size: 1.5em;
	line-height: 2em;
	color:white;
	text-transform: uppercase;
}

.herobutton {
	display: inline-block;
	width:160px;
	height:auto;
	background-color:#FB8300;
	padding:15px;
	margin:10px 5px;
	-webkit-transform:skewX(-20deg);
	transform: skewX(-20deg);
}

.buttontext {
	font-family: "mr-eaves-modern", sans-serif;
	font-size: 1em;
	color:white;
	text-transform: uppercase;
	-webkit-transform:skewX(20deg);
	transform:skewX(20deg);
	display:inline-block;
}

.herobutton:hover {
	background-color:#FF7200;
	outline:6px solid #FF7200;
	font-size:1.1em;
	-webkit-transition:0.3s;
	transition:0.3s;
}
	
/*Lightbox modification begin here*/

.lb-div {
	width:100%;
	height: auto;
	margin:auto;
	text-align:center;
}

.example-image {
		margin:10px 10px;
		border-radius: 3px;
  		border: 4px solid transparent;
		box-sizing: border-box;
		opacity:0.6;
		transition:0.3s;
}

.example-image:hover {
	  	border-radius: 3px;
  		border: 4px solid skyblue;
		box-sizing: border-box;
		background-color:cadetblue 0.3;
		opacity:1;
		transition:0.3s;	
}
/*End of Lightbox modifications */
/*section formatting starts here*/

.grid-flex {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 1;
  -webkit-flex-grow: 1;
  -ms-flex-positive: 1;
  flex-grow: 1;
  flex-direction: row; 
  -webkit-flex-direction: row;
  -webkit-flex-wrap: wrap;
  -webkit-justify-content: space-around;
}
.col {
  -webkit-box-flex: 1;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
}
.col-left {
  -webkit-box-ordinal-group:-1;
  -webkit-order: -1;
  -ms-flex-order: -1;
  order: -1;
}

.col-issue-item {
	display: flex;
	align-items:center;
	justify-content:center;
	box-sizing: border-box;
}

.issue-text {
	width:80%;
	padding:30px 0px;
}
 .col-issue-image {
	background-size:cover;
	background-position:center center;
}


h2, h3 {
	font-family: brandon-grotesque, sans-serif;
	font-style: normal;
	font-weight: 500;
	text-transform: uppercase;
	line-height: 1.2em;
	letter-spacing: 1px;
	color:rgba(105,105,105);
	text-align: center;
}

#smartline {
	line-height: 2em;
}

.advocatesheading h4 {
	text-align: center;
	font-family: brandon-grotesque, sans-serif;
	color:white;
	font-style: normal;
	font-weight: bolder;
	text-transform: uppercase;
	letter-spacing: 1px;
	line-height: 6em;
	background-color:skyblue;
}

h5 {
	font-family: brandon-grotesque, sans-serif;
	font-size:1.2em;
	font-style:100;
	text-transform: uppercase;
}

p {
	font-family: "mr-eaves-modern", sans-serif;
	font-style: normal;
	font-weight: 300;
	font-size: 1.2em;
	line-height: 1.5em;
	text-align: left;
	color: rgba(105,105,105);
}

.empowerment, .smartgirls {
	margin:auto;
	padding:20px;
	width:80%;
	text-align:left;
}

.additional-info ul li {
	list-style: none;
}

.additional-info ul li a {
	text-decoration: none;
	color: white;
	font-family: "mr-eaves-modern", sans-serif;
	font-size:1em;
	font-style:100;
	line-height: 2em;
}
.additional-info {
	background-color:skyblue;
	padding:20px;
	margin:auto;
	color:white;
}

/*video slider starts here*/

.advocates {
	width:100%;
	height:300px;
	display:flex;
	flex-wrap:nowrap;
	justify-content:flex-start;
	overflow-x:scroll;
	background-color: white;

}

.flex {
	flex-shrink: 0;
	flex-direction: row;
  width: 50%;
  height: auto;
	padding:10px 0px 10px 0px;
	margin:10px 0px 10px 10px;
}

footer {
	width:100%;
	height:auto;
	margin:auto;
	display:inline-block;
	background-color:black;
	
}

#getinvolved {
	margin:10px;
	line-height: 2em;
	color:white;
	font-size: 2.24em;
	font-family: brandon-grotesque, "sans-serif";
	text-align: center;
}

#footertext {
	margin:10px;
	text-align:center;
}

#footertext a {
	color:white;
	font-size: 1.2em;
	line-height:4em;
	font-family: brandon-grotesque, "sans-serif";
	text-decoration: none;
}

#footertext a:hover {
	color:skyblue;
}

#pointer {
	display:none;
	color:white;
	font-size:3.24em;
	line-height: 1.6em;
	margin-left:10px;
}

#pointer:hover {
	color:skyblue;
	display:none;
}

.socialmenu {
	margin:auto;
}

ul.social {
	display:flex;
 justify-content:center;
	margin:auto;
	padding-bottom: 30px;
	background-color:black;
	list-style-type: none;
}

.social li a {
	margin:10px;
	padding:20px;
}

.fa {
	font-size:3em;
	color:white;
}

.fa:hover {
	color:skyblue;
}

social > li 	{
	list-style-type: none;
	padding:20px;
	margin-top:-75px;
	box-sizing: border-box;	
}
	